@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Mochiy+Pop+P+One&family=Poppins:wght@600&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
:root {
    --base-text-color:  #dbdbdb;
    --base-bg-color: #1f1f1f;
    --color-yellow: #f6d106;
    --color-red:#D10;
}
*{
    scroll-behavior: smooth;
    user-select: none;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family:  'Mochiy Pop P One';
    font-size: 1vw;
}
/*----------------------Body----------------------*/
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
/*----------------------header----------------------*/
header {
    z-index: 10;
    top: 0;
    position: fixed;
    background-color: var(--color-yellow);
    width: 100vw; height: 7vw;
    display: flex;
    justify-content: center;
}
header ul {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header li {
    background-color: #D10;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 13%; 
    height: 33%;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}
header li:hover {
    outline-offset: 0.2vw;
    outline: 0.3vw solid var(--color-red);
    scale: 1.1;
}
header li:nth-child(1) {
    left: 4%;
   animation: l1 ease-in-out 1s;
}
header li:nth-child(2) {
    left: 20%;
    animation: l2 ease-in-out 1s;
}
header li:nth-child(4) {
    right: 4%;
    animation: l4 ease-in-out 1s;
}
header li:nth-child(5) {
    right: 20%;
    animation: l5 ease-in-out 1s;
}
@keyframes l1 { 
    from{transform: translateX(200%); background-color: transparent; outline: transparent;}
}
@keyframes l2 { 
    from{transform: translateX(100%); background-color: transparent; outline: transparent;}
}
@keyframes l4 { 
    from{transform: translateX(-200%); background-color: transparent; outline: transparent;}
}
@keyframes l5 { 
    from{transform: translateX(-100%); background-color: transparent; outline: transparent;}
}
header a {
    color: whitesmoke;
    z-index: 2;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#logo {width: 30%; background-color: var(--color-yellow); align-items:normal;}
header img {
    scale: 0.7;
    mix-blend-mode: color-burn;
}
header button {
    visibility: hidden;
    transition: ease-in-out 0.3s;
}
.mobile-nav {
    visibility: hidden;
    z-index: 11;
    position: fixed;
    top: 0;
    background-color: #1f1f1f5e;
    backdrop-filter:blur(4px);
    height: 100vh; width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav ul {
    height: 100vw; width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.mobile-nav a,
.mobile-nav li {
    background-color: var(--color-yellow);
    width: 95%; height: 20%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    scale: 0.9;
    color: var(--color-red);
}
/*--------------------------MAIN------------------------*/
main {
    position: relative;
    background-color: gainsboro;
    height: 200vh;
    width: 100vw;
}

/*-------------------------Products---------------------*/
.Products { 
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    position: absolute;
    top: 20vh; left: 3vw;
    height: 100vh; width: 55vw;
    border-radius: 1vw;
}
.Products ul {
    direction: rtl;
    z-index: 1;
    height: 75%; width: 100%;
    position:absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.Products ul::-webkit-scrollbar {
    background-color: rgba(200, 200, 200, 0.814);
    width: 5px;
}
.Products ul::-webkit-scrollbar-thumb {
    background-color: rgb(151, 155, 175);
} 
.Products li {direction:ltr;
    display: flex;
    align-items: center;
    margin: 0.5% 0%;
    height: 15vh;
    list-style: none;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.904);
    width: 90%;
}
.Products img {
    height: 90%;
    margin: 0.5%;
    aspect-ratio: 3/2;
}
.Products h5 {
    width: 20%;
    font-size: 1vw;
    position: relative;
    left: 3%;
    display: flex;
}
.quantity {
    height: 100%; width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 51%;
}
.quantity button {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    aspect-ratio: 1/1;
}
.quantity h4 {
    display: flex;
    justify-content: center;
    margin: 10%;
}
.removeitem {
    position: absolute;
    transition:  ease 0.2s;
    right: 10%;
    width: 6%; 
    aspect-ratio: 1/1; 
    border-radius: 100vw;
    border: 0.1vw solid gray;
    background-color: transparent;
}
.removeitem:hover {
    color: white;
    font-size: 1.5vw;
    background-color: #D10;
}
.Products h3 {
    right: 26%;
    position: absolute;
}
.prowrapper {
    width: 100%; height:100%;
    display: flex;
    align-items: center;
    position: relative;
}
.prodetails {
    position: absolute;
    top: 5%; 
    display: flex;
    align-items: center;
    height: 10%; width: 80%;
}
.prodetails h2 {
    font-family: Poppins;
    font-size: 2.7vw; 
    position: absolute;
    left: -4%;
}
/*------------------------Payment-----------------------*/
.payment {
    height: 44vw; width: 35vw;
    top: 25vh; right: 5%;
    position: absolute;
}
.recipt {
    background-color:  rgba(200, 200, 200, 0.814);
    display: flex;
    flex-direction: column;
    height: 53%;
    border-radius: 2vw;
}
.recipt div {
    height: 30%;
}
.recipt h1 {
    position: relative;
    top: 27%; left: 10%;
    font-size: 1.5vw;
    font-family: Poppins;
    width: 20%;
}
.recipt input { border-radius: 0.5vw;
    height: 50%; width: 80%;
    top: 25%;left: 10%;
    position: relative;
    outline: 0;
    border: 0;
    border-bottom: solid 0.2vw rgba(156, 156, 156, 0.406);
    background-color:transparent;
    text-transform: capitalize;
}
/*------------------------order type----------------------*/
.ordertype {
    margin-top: 4%;
    background-color:  rgba(200, 200, 200, 0.814);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    border-radius: 2vw;
}
.ordertype button {
    width: 20%;
    border-radius: 1vw;
    aspect-ratio: 1.8/1;
    color: #1f1f1f;
    background-color: transparent;
    border: transparent;
}
.ordertype iconify-icon {
    font-size: 2vw;
}
/*-------------------------confirmation-----------------*/
.confirmation {
    height: 30%;
    border-radius: 2vw;
    margin-top: 4%;
    background-color:  rgba(200, 200, 200, 0.814);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.confirmation hr {
    position: absolute;
    bottom: 40%;
    height: 0.2vw; width: 80%;
    background-color:rgba(156, 156, 156, 0.406);
    outline: 0;
    border: 0;
}
.confirmation button {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Poppins;
    border: transparent;
    color: gainsboro;
    text-transform: capitalize;
    position: absolute;
    bottom: 10%;
    border-radius: 0.7vw;
    width: 40%; height: 20%;
    outline: var(--color-red);
    background-color: var(--color-red);
}
.confirmation button:hover {
    transition: ease-in-out 0.2s;
    outline: var(--color-red) solid 3px;
    outline-offset: 3px;
    scale: 1.02;
}
.total {
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 80%; height: 40%;
    position: relative;
}
.total h1 {
    font-family: Poppins;
    font-size: 2vw;
}
.total h2 {
    position: absolute;
    right: 10%;
    width: 20%;
    font-family: Poppins;
    font-size: 2vw;
}
.total span {
    font-family:  Poppins;
    font-size: 1.5vw;
}
/*------------------------footer------------------------*/
footer {
    left: 1%;
    position: absolute;
    width: 98vw;
    background-color: red;
}
.footerwrapper {
    position: absolute;
    bottom: 0; left: 0.2%;
    background-color: rgb(25, 25, 25);
    height: 55vh;
    width: 99.6%;
    border-radius: 4vw 4vw 0vw 0vw;
}
footer img {
    position: absolute;
    width: 9%;
    top: 20%; left: 10%;
    border-radius: 100vw;
}
.footerothers {
    position: absolute;
    bottom: 0;
    width: 100%; height: 20%;
}
.footerothers hr {
    position: absolute;
    top: 0; left: 5%;
    width: 90%; height: 2%;
    border: 0;
    background-color: rgb(36, 36, 36);
}
.footerothers  h1 {
    position: absolute;
    height: 100%;
    color: gray;
    display: flex;
    align-items: center;
    left: 5%;
    justify-content: center;
}
.details {
    top: 10%; right: 10%;
    width: 60%  ;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.details div {
    color: gray;
    aspect-ratio: 1/1;
    margin: 1%;
    width: 20%;
}
.details h1 {
    color: gainsboro;
    font-size: 1.1vw;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details p {
    font-size: 0.9vw;
    margin-left: 10%;
    width: 80%; height: 80%;
    bottom: 0;
}
.socials {
    position: absolute;
    right: 5%;height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.socials a {
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 10vw;
}
.socials a:hover {scale: 1.2;}
.socials a:nth-child(1):hover iconify-icon {color: #1877f2;}
.socials a:nth-child(2):hover iconify-icon{color: white;}
.socials a:nth-child(3):hover iconify-icon {color: #1877f2;}
.socials a:nth-child(4):hover iconify-icon {color: #D10;}

.socials iconify-icon {
    font-size: 1.8vw;
    color: gray;
}
@media (max-width: 700px) {
    body {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 260vh; width: 100%;}
    main {
        background-color: gainsboro;
        height: 100%; width: 100vw;
    }
    .footerwrapper {
        height: 40vh;
    }
    .footerwrapper img {
        scale: 2; left: 45%;
        top: 15%;
    }
    .details {
        top: 40%; left: 10%;
        width: 80%;
    }
    .details h1 {
        font-size: 2vw;
    }
    .details p {
        font-size: 1vw;
        font-weight: bold;
    }
    footer h1 {font-size: 1.1vw;}
    header{
        position: absolute;
        top: 0;
        height: 20vw; width: 70%;
        scale: 1.9;
    }
    header ul {
        width: 54vw;
        left: 0%;
    }
    header li {
        display: none;
        width: 0%; height: 0%;
    }
    header a {
        width: 40%;height: 50%;
        position: absolute;
        left: 13vw; top: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 1.2;
        background-color: var(--color-yellow);
    }
    header img {
        scale: 0.5;
    }
    header button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        border: solid 0.2vw;
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        right: 5%;
        aspect-ratio: 1/1; width: 8vw;
        visibility: visible;
    }
    header iconify-icon {
        font-size: 5vw;
    }
    #logo {
        width: 40%;
    }
    .payment {
        left: 2%; top: 120vh;
        width: 90%; height: 80vh;
    }
    .payment div {
        border-radius: 5vw;
    }
    .recipt h1 {
        font-size: 4vw;
    }
    .recipt input {
        font-size: 2.5vw;
    }
    .ordertype button {
        padding: 3% 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
    }
    .ordertype iconify-icon {font-size: 10vw;}
    .confirmation hr {height: 1vw; bottom: 45%;}
    .confirmation button {
        width: 60%; height: 25%;
        font-weight: bold;
        border-radius: 2.5vw;
        font-size: 4vw;
    }
    .total h2,.total span, .total h1 {font-size: 6vw; }
    .Products {
        width: 90%;
        top: 15vh;
    }
    .Products ul::-webkit-scrollbar {width: 5px;}
    .Products li {
        margin: 3% 0%;
        border-radius: 2vw;
        height: 15vh;
    }
    .Products img {
        height: 80%; 
        margin: 0.5%;
        aspect-ratio: 3/2.5;
    }
    .Products h5 {
        width: 25%;
        width: 50%;
        position: absolute;
        top: 12%; left: 40%;
        font-size: 4vw;
    }
    .quantity {
        font-size: 2vw;
        left: 43%;
        width: 20%;
    }
    .quantity button {
        font-size: 5vw;
        height: 60%; width: 100%;
        margin-top: 80%;
    }
    .quantity h4 {
        top: 60%; position: absolute;
        font-size: 3vw;
    }
     .proPrice {
        font-size: 3vw;
        position: absolute;
        top: 40%; left: 40%; 
        display: flex;
        width: 10%;
    }
    .removeitem {
        scale: 2;
        font-family: 5vw;
    }
    .prodetails h2 {
        font-size: 7vw;
        margin-top: 5%;
    }
}